<div class="container">
  <div class="jumbotron">
    
    <div class="row">
        <div class="col-sm-6">
          <app-progress [progresso]="progresso"></app-progress>
        </div>
        <div class="col-sm-6">
          <div class="d-flex justify-content-end">
          <app-bars [tentativas]="tentativa"></app-bars>
          </div>
        </div>
      </div>

     <div class="row">
        <div class="col">
            <h4>{{title}}to{{language}}</h4>
            <p>{{rodadafrase.phraseEng}}</p>
        
            <div class="form-group">
              <textarea
                 class="form-control" 
                 rows="3"
                (input)="atualizaResposta($event)"
                [value]="anwser"   >
              </textarea>
            </div>
          </div>
       </div>   
        <div class="row">
          <div class="col">&nbsp;</div>
        </div>
      

       <div class="row">
          <div class="col">
              <div class="d-flex justify-content-end">
                <button type="button" 
                class="btn btn-primary" (click)="verificarResposta()">
                Check It !</button>
              </div>
          </div>
       </div>


  </div>
</div>



